<ion-header class="ion-no-border" color="medium">
  <ion-toolbar color="medium">
    <ion-buttons slot="start" color="primary">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-padding ion-text-center">
          <img width="250px" src="/assets/site-logo.svg" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="primary"
          ><h5 class="ion-padding-start font-weight-bold">Sign in</h5></ion-text
        >
        <form [formGroup]="form" (ngSubmit)="logIn()">
          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input
              type="email"
              placeholder="Email"
              formControlName="email"
            ></ion-input>
            <ion-note
              slot="error"
              *ngIf="(email.dirty || email.touched) && email.errors"
              >Email is not valid</ion-note
            >
          </ion-item>
          <ion-item>
            <ion-icon name="key-outline" slot="start"></ion-icon>
            <ion-input
              type="password"
              placeholder="Password"
              formControlName="password"
            ></ion-input>
            <ion-note
              slot="error"
              *ngIf="(password.dirty || password.touched) && password.errors"
              >Password is not valid</ion-note
            >
          </ion-item>

          <ion-button
            color="light"
            type="submit"
            expand="full"
            [disabled]="!form.valid"
            >Login</ion-button
          >
          <ion-button color="light" type="button" expand="full"
            >Create account</ion-button
          >
          <ion-text class="ion-text-center"><p>or</p></ion-text>
          <ion-button type="submit" color="danger" expand="fukk"
            >Login with Google</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
