<ion-header class="ion-no-border" color="medium">
  <ion-toolbar color="medium"> </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-padding ion-text-center">
          <img width="250px" src="/assets/site-logo.svg" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          [routerLink]="['/registration']"
          expand="block"
          color="primary"
          >Register</ion-button
        >
        <ion-text class="ion-text-center"
          ><p>or</p>
          <p>Already a user?</p></ion-text
        >
        <ion-button [routerLink]="['/login']" expand="block" color="light"
          >Sign In</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
