<app-step>


   <ion-text color="primary" class="ion-padding-start">
   <h4 class="ion-padding-start">  I need help for my loved one but i'm not quite sure where to start</h4>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
    
        <ion-button color="medium" expand="block" routerLink="step-2">
       
          <ion-text color="primary">
            Find care <ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text color="primary" class="ion-padding-start">
    <h4 class="ion-padding-start">   I know what i need and i'm ready to get started</h4>
   </ion-text>
 
  
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="medium" expand="block" routerLink="step-2">
       
          <ion-text color="primary">
            Find care <ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
        </ion-button>
      </ion-col>
      </ion-row>
  </ion-grid>
</app-step>
