<app-step title="When would you like the care to start?">
  <form [formGroup]="dateTimeForm">
    <app-step-box [align]="'ion-text-start'"
                
                >

                  <ion-checkbox    color="tertiary"
                  value=""
                  [formControlName]="'immediately'"
                  id="chkImmediately" ></ion-checkbox>
        <label class="form-check-label ms-2"
               for="chkImmediately" class="ion-margin-start"><ion-text color="primary">
         Immediately</ion-text>
        </label>
     
    </app-step-box>

    
        <app-step-box [align]="'ion-text-start'"
                
        >

         


  <ion-accordion-group class="w-100">
    <ion-accordion value="start" toggle-icon="calendar-outline">
      <ion-item slot="header">
        <ion-label color="primary">{{!!dateTimeForm.get('date').value ? (dateTimeForm.get('date').value | date: 'dd/MM/yyyy') : 'Pick date'}}</ion-label>
        <ion-note slot="end" id="datetimeValue"></ion-note>
      </ion-item>
      <ion-datetime (ionChange)="accordionGroup.value = undefined;" 
        id="datetime"
        slot="content"
        presentation="date"
        displayFormat="MMMM YY"
        formControlName="date"
      ></ion-datetime>
    </ion-accordion>
  </ion-accordion-group>

</app-step-box>
     
    
    
  </form>
</app-step>
<app-bottom-nav-button [form]="form" [routerLink]="'../step-8'"></app-bottom-nav-button>