<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-padding ion-text-center">
          <img width="250px" src="/assets/site-logo.svg" />
        </div>
      </ion-col>
    </ion-row>
    <ion-col>
      <ion-text color="primary"
        ><h5 class="ion-padding-start font-weight-bold">Sign up</h5></ion-text
      >
      <form>
        <ion-card lines="full">
          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input
              type="text"
              placeholder="Email"
              #email
              required
            ></ion-input>
          </ion-item>
        </ion-card>
        <ion-card lines="full">
          <ion-item>
            <ion-icon name="key-outline" slot="start"></ion-icon>
            <ion-input
              type="password"
              placeholder="Password"
              #password
              required
            ></ion-input>
          </ion-item>
        </ion-card>

        <ion-row class="ion-text-center ion-padding-start">
          <ion-checkbox
            color="tertiary"
            id="chkTerms"
            name="other"
            aria-label="..."
            required
          ></ion-checkbox>

          <label for="chkLovedOne" class="ion-margin-start"
            ><ion-text color="primary"
              >I agree to the terms and conditions</ion-text
            ></label
          ></ion-row
        >
        <ion-row>
          <ion-col>
            <ion-button
              color="light"
              type="submit"
              (click)="signUp(email, password)"
              expand="block"
              >Sign up</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-grid>
</ion-content>
