

<ion-content [fullscreen]="true">
 

  <ion-text><h3>Please choose if you are a customer or provider</h3></ion-text><ion-button color="medium" expand="block"

[routerLink]="'/customer/onboarding'"><ion-text color="primary">
Customer <ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
</ion-button>
<ion-button color="medium" expand="block"

[routerLink]="'provider/onboarding'"><ion-text color="primary">
Provider <ion-icon name="chevron-forward-outline"></ion-icon></ion-text>
</ion-button>
</ion-content>
