<app-step title="What types of care activities would you like help with?">
  <form [formGroup]="form">
    <app-step-box *ngFor="let item of form.value | keyvalue; let i = index"
                  
                  [align]="'ion-text-start'">

    
        <ion-checkbox    color="tertiary"
               value=""
               [id]="'chk' + item.key" ></ion-checkbox>
        <label 
               [for]="'chk' + item.key"   class="ion-margin-start"><ion-text color="primary">
          {{ item.key }}
          </ion-text>
        </label>
     

    </app-step-box>

  
  </form>
</app-step>
<app-bottom-nav-button [form]="form" [routerLink]="'../step-4'"></app-bottom-nav-button>
