<ion-header class="ion-no-border" color="light">
  <ion-toolbar color="light">
    <ion-buttons slot="start" color="primary">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title
      ><div class="ion-padding ion-text-center">
        <img width="150px" src="/assets/site-logo.svg" /></div
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-content>
<ion-menu side="start" menuId="profile" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item
        ><ion-icon slot="start" name="moon"></ion-icon>
        <ion-label> Toggle Dark Theme </ion-label>
        <ion-toggle
          id="themeToggle"
          slot="end"
          (ionChange)="toggleDarkMode($event)"
        ></ion-toggle
      ></ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
