<app-step title="Who are you looking for care for?">
  <form [formGroup]="form">
    <app-step-box 
                  class="my-5"
                  [align]="'ion-text-start'">

                  <ion-checkbox color="tertiary"  id="chkLovedOne"
                  name="other"
                 
                  aria-label="..." formControlName="other"></ion-checkbox>
  
      <label for="chkLovedOne"
             class="ion-margin-start"><ion-text color="primary">I'm looking for my loved one</ion-text></label>
    </app-step-box>
    <app-step-box 
                  class="my-5"
                  [align]="'ion-text-start'">
                  <ion-checkbox color="tertiary"  id="chkSelf"
                  name="self"
                
                  aria-label="..." formControlName="self"></ion-checkbox>
     
      <label for="chkSelf"
             class="ion-margin-start"><ion-text color="primary">I'm looking for myself</ion-text></label>
    </app-step-box>
    <ion-grid>
       <ion-row>
         <ion-col class="ion-text-center">
  
    </ion-col>
    </ion-row>
    </ion-grid>

  </form>
</app-step>
<app-bottom-nav-button [form]="form" [routerLink]="'../step-3'"></app-bottom-nav-button>