/* You can add global styles to this file, and also import other style files */

@import "cabinet-grotesk";
@import "utils";





body, ion-text, ion-label, ion-content {
  font-family: "CabinetGrotesk-Regular" !important;

}

h1,
h2,
h3 {
  font-family: "CabinetGrotesk-Extrabold";
}

.btn {
  border-width: 3px !important;
}



.striped-blue {
  background-color: var(--bs-blue);
  color: #fff;
  padding: 20px 30px 20px 30px;

  margin-bottom: 10px;

 
}

.striped-pink {
  background-color: var(--bs-pink);
  color: #fff;
  padding: 20px 30px 20px 30px;

  margin-bottom: 10px;

 
}


.f1-25 {
  font-size: 1.25rem;

  

}

.font-weight-bold {
  font-family: 'CabinetGrotesk-Extrabold';
}


ion-button {
  --box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
  --border-style: none;
  text-transform: none;
  --border-radius: 8px;
  height:45px;
 }


 ion-checkbox {
     //our own custom ones 

  --checkmark-color: white;
  --background: var(--ion-color-light);
  --border-width: 1px;
  --border-radius: 2px;
  --border-color: var(--ion-color-light-shade);
 }

 ion-card {
   box-shadow: none;
   border-radius: 4px;
 }